{% extends 'base.html' %}
{% block header %}
	<div id="logo">
		<a href="#"><img src="/static/logo.png" alt="Benzene logo" /></a>
	</div>
	<div id="navigation">
		<ul class="nav">
			<a href="{% url home %}">Home</a>
		</ul>
	</div>
	<div id="userinfo">
		<ul id="userinfo-username">
			<li><a href="{% url profile username=user.user_name %}">{{ user.user_name }}</a></li>
			<li><a href="{% url edit_profile username=user.user_name %}">Edit</a></li>
			<li><a href="{% url logout %}">Logout</a></li>
		</ul>
		<ul id="userinfo-ratio-stats">
			<li>User Info [ratio stats] here?</li>
		</ul>
	</div>
{% endblock header %}

