{% extends 'internal.html' %}
{% block html-title %}{{ profile.username }}'s profile{% endblock html-title %}
{% block body %}
{% if profile.profile.avatar %}
<div id="profile-avatar">
	<img id="profile-avatar" src="{{profile.profile.avatar}}" alt="profile avatar" />
</div>
{% endif %}
<div id="profile-sidebar">
	<ul>
		{% if not profile.is_active %}
		<li>disabled</li>
		{% endif %}
		{% if profile.profile.donor %}
		<li>donor</li>
		{% endif %}
		{% if profile.is_staff or profile == user %}
		<li>email: {{ profile.email }}</li>
		<li>invites: {{ profile.profile.invites }}</li>
		{% endif %}
		<li>joined: {{ profile.date_joined }}</li>
		<li>last seen: {{ profile.last_login }}</li>
		<li>rank: {{ profile.profile.get_rank_display }}</li>
	</ul>
</div>
<div id="profile-text">
	{{ profile.profile.about }}
</div>
{% endblock body %}
